@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* add new local font */
@layer base {
	@font-face {
		font-family: 'Futura Demi';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/futura-demi-bold.otf') format('opentype');
		font-display: swap;
	}
}

body {
	font-family: 'Futura Demi', sans-serif;
	background-color: #f7f8f1;
	line-height: 1;
}
